<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class ="addmovie">
    {{#info}}
    <form action="/editmovies/{{id}}" method="POST">
    <label for="title">Movie Title</label>
    <input type = "text" name = "title" value ="{{title}}"><br>
     <label for="director">Name of Director</label>
    <input type = "text" name = "director" value ="{{director}}"><br>
     <label for="title">Movie Genre</label>
    <input type = "text" name = "genre" value = "{{genre}}"><br>
     <label for="title">Movie Released</label>
    <input type = "number" name = "releaseYr" value="{{releaseYr}}"><br>
     <label for="country">Country Filmed</label>
    <input type = "text" name = "country" value="{{filmLocation.country}}"><br>
     <label for="state">State/Province Filmed</label>
    <input type = "text" name = "state" value = "{{filmLocation.state_province}}"><br>
     <label for="actors">Actor Names (sperated with a comma)</label>
    <input type = "text" name = "actors" value ="{{actor}}"><br>
    
    <input type = "submit" name ="submit" value="ZACH">
    <a href = "/delete/{{id}}">Delete this Movie<a/>
    </form>
    
    {{/info}}
{{^info}}
     <form action="/addmovie" method="POST">
    <label for="title">Movie Title</label>
    <input type = "text" name = "title" ><br>
     <label for="director">Name of Director</label>
    <input type = "text" name = "director"><br>
     <label for="title">Movie Genre</label>
    <input type = "text" name = "genre"><br>
     <label for="title">Movie Released</label>
    <input type = "number" name = "releaseYr"><br>
     <label for="country">Country Filmed</label>
    <input type = "text" name = "country"><br>
     <label for="state">State/Province Filmed</label>
    <input type = "text" name = "state"><br>
     <label for="actors">Actor Names (sperated with a comma)</label>
    <input type = "text" name = "actors"><br>
    
    <input type = "submit" name ="submit" value="ROB">
    </form>
    {{/info}}
</div>
</body>
</html>