<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class ="addmovie">
    <form acton="/addmovie" method="POST">
    <label for="title">Movie Title</label>
    <input type = "text" name = "title"><br>
     <label for="title">Movie Genre</label>
    <input type = "text" name = "genre"><br>
     <label for="title">Movie Released</label>
    <input type = "number" name = "releaseYear"><br>
     <label for="country">Country Filmed</label>
    <input type = "text" name = "country"><br>
     <label for="state">State/Province Filmed</label>
    <input type = "text" name = "state"><br>
     <label for="actors">Actor Names (sperated with a comma)</label>
    <input type = "text" name = "actors"><br>
    <input type = "submit" name ="submit">
    </form>
</div>
</body>
</html>