<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{#data}}
    <div class = "table">
    {{title}}
    {{genre}}
    {{releaseYr}}
   {{filmLocation.state_province}}
    {{filmLocation.country}}
    {{{actors}}}
    </div>
    {{/data}}
    {{^data}}
    <div class="empty">
    <h2> There are no movies in this collection at this time</h2>
    <a href="addmovie">Add a movie</a>

    </div>
    {{/data}}

</body>
</html>